<h1>Hello World!</h1>
<form action="/access" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="text" name="code" placeholder="access code">
  <input type="submit">
</form>
<small>* To buy access please sendan sms to #1234</small>
