<div class="row large-up-2">
    <div class="column">
        <h2><%=item.title%></h2>
        <p><%-item.content%></p>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/750x350">
    </div>
</div>
