<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes | NodeJS app</title>
    <link rel="stylesheet" href="/foundation.min.css">
    <link rel="stylesheet" href="/awesomplete/awesomplete.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <%-partial('./header')%>
    <%-body%>
    <%-partial('./footer')%>
</body>
</html>
