<html>
  <head>
    <style>
      nav ul {padding: 0}
      nav ul li {display: inline-block}
    </style>
    <link rel="stylesheet" href="/awesomplete/awesomplete.css">
  </head>
  <body>
    <%-partial('./header')%>
    <%-body%>
    <%-partial('./footer')%>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/awesomplete/awesomplete.min.js"></script>
    <script src="/build/main.js"></script>
  </body>
</html>
