<div class="row column">
  <hr>
  <ul class="menu">
    <li class="float-right">&copy; Recipes 2016</li>
  </ul>
</div>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/awesomplete/awesomplete.min.js"></script>
<script src="/main.js"></script>
