<h1>Feedback</h1>
<form method="post" enctype="multipart/form-data">
  <input type="text" placeholder="name" name="name"><br>
  <textarea placeholder="message" name="message"></textarea><br>
  <input type="file" placeholder="image of your creation" name="attachment"><br>
  <input type="submit" value="send">
</form>
